<ion-view view-title="Web Service">
  <ion-content class="padding">
    
    <div class="list card">
      <div class="item item-divider">JSON Object</div>
      <div class="item item-body">
          <ul class="list">
              <li ng-repeat="item in items" class="item item-toggle">
                 {{ item.name }}
                 <label class="toggle toggle-calm">
                   
                   <input type="checkbox" ng-model="item.enabled" ng-change="change(item._id, items)">
                     
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>
          </ul>
      </div>
    </div>
    
  <div class="list card">
      <div class="item item-divider">Debuger</div>
      <div class="item item-body">
          <p>Items: {{items}}</p>
      </div>
    </div>
      
  </ion-content>
</ion-view>