<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Web Service" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Storage" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/data">
        <ion-nav-view name="tab-data"></ion-nav-view>
    </ion-tab>

</ion-tabs>
